[Unit]
Description=matrix-judge-system-4.0
Requires=create-judge-cgroups.service
After=create-judge-cgroups.service

[Service]
WorkingDirectory=/var/lib/judge
Type=simple
EnvironmentFile=/etc/judge/env.conf
ExecStart=bash /opt/judge-system/run.sh --enable /etc/judge
Restart=on-failure
User=root
Group=root
LimitCORE=infinity
LimitNOFILE=1000000
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target
